body{
  background-image: url('bgg.webp');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 320px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #0969f8;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1.5em;
  text-align: right;
  background-color: #fff;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.05);
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #dfe6f0;
}

button:active {
  background-color: #bec7d9;
}

button:nth-child(4n) {
  background-color: #f0ad4e;
  color: #fff;
}

button:nth-child(4n):hover {
  background-color: #ec971f;
}

button:nth-child(4n):active {
  background-color: #d58512;
}

button:nth-last-child(-n+4):not(:nth-child(4n)) {
  background-color: #0e8cb3;
  color: #fff;
}

button:nth-last-child(-n+4):not(:nth-child(4n)):hover {
  background-color: #0e8cb3;
}

button:nth-last-child(-n+4):not(:nth-child(4n)):active {
  background-color: #0e8cb3;
}

.output {
  margin-top: 10px;
  padding: 10px;
  font-size: 1.5em;
  text-align: right;
  color: #333;
}
